body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #ffffff;
  color: #000000;
}

a {
  color: #000000;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

table {
  padding: 10px 200px;
}

button {
  align-items: center;
  background-color: #e9e7ff;
  background-position: 0 0;
  border: 1px solid #ffffff;
  border-radius: 11px;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  display: flex;
  font-size: 15px;
  font-weight: 500;
  line-height: 33.4929px;
  list-style: outside url(https://www.smashingmagazine.com/images/bullet.svg) none;
  padding: 2px 12px;
  text-align: left;
  text-decoration: none;
  text-shadow: none;
  text-underline-offset: 1px;
  transition: border .2s ease-in-out,box-shadow .2s ease-in-out;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  word-break: break-word;
}

button:active,
button:hover,
button:focus {
  outline: 0;
}


button:active {
  background-color: #ffffff;
  box-shadow: rgba(0, 0, 0, 0.12) 0 1px 3px 0 inset;
  color: #FFFFFF;
}

button:hover {
  background-color: #ff2727;
  border-color: #000000;
}

button:active:hover,
button:focus:hover,
button:focus {
  background-color: #060606;
  box-shadow: rgba(0, 0, 0, 0.12) 0 1px 3px 0 inset;
  color: #fa0808;
}
